@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root {
  --primary-color: #01bbbf;
  --text-dark: #1d293d;
  --text-light: #62748e;
  --extra-light: #fafafa;
  --white: #ffffff;
  --max-width: 1400px;
  --header-font: "Dancing Script", serif;
  --body-color: "Roboto", sans-serif;
}
.main{
    max-width: var(--max-width);
    margin-inline: auto;
    font-family: "Roboto", sans-serif;
    padding: 4rem 1rem;
    margin-block: 2rem;
    background-color: #59eef6;
}
.section-description{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
    margin-inline: auto;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--text-dark);
}
.sub-heading{
    font-size: 1.75rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 0.5rem;
}
img{
    display: flex;
    width: 100%;
}
button{
    padding: 0.75rem 1.5rem;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 4rem;
    font-size: 1rem;
    font-family: "Roboto" , "serif";
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    box-shadow: 0px 5px 20px;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
ul{
    list-style-type: none;
}
html,body{
    scroll-behavior: smooth;
}
body{
  --body-color: "Roboto", sans-serif;
}
form input, form textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h3{
    text-align: center;
    font-weight: 600px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    isolation: isolate;
    z-index: 1000;
}
 .nav-header{
    width: 100%;
    height: 50px;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    padding: 1rem;
    background-color: whitesmoke;
}
.nav-logo img{
    max-width: 150px;
}
.nav-menu{
    color: black;
    cursor: pointer;
    font-size: 1.5rem;

}
.nav-link{
    position: absolute;
    list-style-type: none;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    gap: 2rem;
    padding: 2rem;
    padding-bottom: 2rem;
    z-index: -1;
    /* transition: transform 0.3s;
    transform: translatey(100%); */
}
 /* .nav-link .open{
    transform: translateY(100%);
} */
.nav-link a{
    z-index: -1;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    text-decoration: none;
}
.nav-link a:hover{
    color: rgb(13, 231, 238);
    border-bottom: 2px solid rgb(255, 0, 0);

}
.header-content{
    display: grid;
    gap: 3rem;
    background-color: #fafafa;
}
.header-content p{
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight:400 ;
    color: black;
    padding: 1rem;
}
.header-images{
    display: grid;
    gap: 3rem;
}
.header-images h3:hover{
    color: var(--text-dark);   
    text-decoration: underline;  
    transition: 3s;
}
.header-images .demo{
    border: 2px solid black;
    max-width: 350px;
    height: 350px;
    margin-inline: auto;
    border-radius: 15rem;
    overflow: hidden;
}
.header-images .demo:hover{
    transition: 0.3s;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
.header-content button{
    font-weight: 700;
    align-items: center;
    margin-inline: auto;
    transition: 2s;
    width: 10rem;
}
.header-content button:hover{
    border-bottom: 2px solid rgb(93, 239, 9);
    border: 2px solid black;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.about{
    padding:1rem 0.5rem ;
    background-color: var(--white);
}
.about h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
    color: var(--text-dark);
}
.about h1:hover{
    text-decoration: underline;
}
.about .sub-heading{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 900;
    transition: 0.3s;
}
.about .sub-heading:hover{
    text-decoration: underline;
}
.about .section-description{
    color: var(--text-dark);
    text-align: justify;
}
.about-div{
    display: flex;
    gap: 2.5rem;
    margin-inline: auto;
    justify-content: center;

    flex-wrap: wrap;
}
.about-div .section-description{
    border: 2px solid black;
    max-width: 300px;
    padding: 0.5rem;
    text-align: justify;
    max-height: fit-content;
    line-height: 1.75rem;
    gap: 10px;
}
.train-head{
    font-family: var(--body-color);
    color: var(--text-dark);
    margin-top: 1.5rem;
    border-bottom: 2px solid black;
}
.training-img{
    max-width: 450px;
    margin-bottom: 3rem;
    border-radius: 6rem;
    margin-inline: auto;
    overflow: hidden;
    transition: 0.3s;
}
.training-img:hover{
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

.registration-content{
    border: 2px solid black;
    background-color: var(--white);
    padding: 1rem 0.5rem;
}
.registration-content h1{
    /* border: 2px solid black; */
    text-decoration: underline;
    font-weight: 800;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
}
.registration-content .section-description{
    border: 2px solid black;
    padding: 8px;
    margin-bottom: 1rem;
    color: black;
}
.registration-content .sub-heading{
    /* border-bottom: 2px solid black; */
    text-decoration: underline;
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.registration-content ol{
    border: 2px solid black;
    margin-bottom: 1.5rem;
    color: black;
    padding: 1.5rem;

}
.registration-content h3{
    margin-bottom: 1.3rem;
    text-decoration: underline;
}
.registration-content label{
    color: black;
    font-size: 1rem;
    font-weight: 800;
}
.registration-content input{
    border: 1px solid black;
}
.registration-content select{
    border: 2px solid black;
}
.registration-content button{
    border: 2px solid black;
    font-size: 1rem;
    padding: 8px 15px;
    margin-inline: auto;
    margin-bottom: 1.5rem;
    transition: 0.3s;
}
.registration-content button:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.registration-content ul{
    padding: 1rem;
    list-style-type: square;
    color: black;
}
.gallery-container{
    overflow: hidden;
    background-color: var(--white);

}
.gallery-content h1{
    margin-bottom: 1.5rem;
    border-bottom: 2px solid black;
}
.gallery-content .section-description{
    border: 2px solid black;
    margin-bottom: 1.5rem;
    text-align: left;
    padding: 0.5rem;
    color: black;
}
.gallery-content .sub-heading{
    margin-bottom: 1.5rem;
    text-decoration: underline;
}
.gallery-content .memory{
  width: max-content;
  display: flex;
  align-items: center;
  animation: scroll-left 45s linear infinite;
}
.gallery-content .memory img{
    max-width: 250px;
    height: 500px;
}
@keyframes scroll-left {
  to {
    transform: translateX(calc(-50%));
  }
}
.contact-container{
    border: 2px solid black;
}
.contact-content{
    border: 2px solid black;
    display: grid;
    gap: 1rem;
    padding: 1rem 0.5rem;
    background-color: var(--white);
}
.contact-content h1{
    text-align: center;
    border-bottom: 2px solid black;
    margin-top: 1rem;
}
.contact-content .section-description{
    border: 2px solid black;
    color: black;
    max-width: fit-content;
    padding: 0.5rem;
}
.contact-content h2{
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: 900;
}
.contact-content p{
    text-align: center;
}
.contact-content label{
    font-size: 1rem;
    color: black;
    font-weight: 450;
}
.contact-content input{
    border: 1px solid black;
}

footer{
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}
footer .foot{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}
footer .toe{
    font-size: 2rem;
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
footer .toe a:hover{
    border-bottom: 2px solid black;
    margin-bottom: 0.5rem;
}








@media (width > 768px){
    nav{
        position: static;
        border: 2px solid transparent;
        border-radius: 2px;
        padding: 0 20px;
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        height: 60px;
        margin-bottom: 2rem;
        background-color: rgb(214, 214, 220);
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .nav-header{
        flex: 1;
        padding: 8px;
        justify-content: space-between;
        background-color: transparent;
    }
    .nav-logo{
    padding: 0 15px; 
    white-space: nowrap; 
    align-items: center;
    justify-content: center;
    }
    .nav-menu{
        display: none;
    }
    .nav-link{
        position:static;
        max-width: fit-content;
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        padding:0px;
        gap: 4rem;
        margin-right: 2rem;
        transform: none !important;

    }
    .nav-link a{
        padding-bottom: 0.5rem;
        border-bottom: 2px solid transparent;
    }
    .header-content{
        padding-block: 2rem;
    }
    .header-images{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .khan img{
        margin-bottom: 2rem;
    }
    .pathan{
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        margin-block: 2rem;
    }
    .pathan input{
        margin: 1rem;
    }
    .jan{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .jan select{
        margin: 1rem;
    }
    .registration-content h3{
        font-size: 1.5rem;
        color: var(--text-dark);
    }
    .pathan select{
       margin: 1rem;
    }
    .registration-content ul{
       text-align: center;
       list-style-type: none;
    }
    





} 
  




